{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
		"@typescript-eslint/member-delimiter-style": [
			"error",
			{
				"multiline": {
					"delimiter": "semi",
					"requireLast": true
				},
				"singleline": {
					"delimiter": "semi",
					"requireLast": false
				}
			}
		],
		"@typescript-eslint/no-empty-function": "error",
		"@typescript-eslint/no-unused-expressions": "error",
		"@typescript-eslint/prefer-namespace-keyword": "error",
		"@typescript-eslint/quotes": [
			"error",
			"single"
		],
		"@typescript-eslint/semi": [
			"error",
			"always"
		],
		"@typescript-eslint/type-annotation-spacing": "error",
		"brace-style": [
			"error",
			"1tbs"
		],
		"comma-dangle": "error",
		"curly": "error",
		"eol-last": "error",
		"eqeqeq": [
			"error",
			"smart"
		],
		"id-match": "error",
		"no-empty": "error",
		"no-eval": "error",
		"no-multiple-empty-lines": "error",
		"no-redeclare": "error",
		"no-trailing-spaces": "error",
		"no-underscore-dangle": "error",
		"no-var": "error",
		"one-var": [
			"error",
			"never"
		],
		"spaced-comment": [
			"error",
			"always",
			{
				"markers": [
					"/"
				]
			}
		]
	}
}